::content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
hero-img{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}

#background {
    height: 725px;
}
body{
    background-color: rgb(237, 241, 241);
    font-size: 22px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(107, 185, 248);
}
nav a:hover{
    color: brown;
    background-color: rgb(255, 255, 255);
}
.book, .join{
    color: rgb(0, 0, 0);
    background-color: rgb(80, 233, 182);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    color: darkgray;
    background-color: rgb(209, 209, 207);
}
#background{
    background-color: rgb(211, 211, 218);
}
.msg{
    background-color: rgb(8, 10, 12);
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: rgb(153, 136, 192);
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
.home-title{
    color: rgb(43, 160, 196);
    font-family: Courier, monospace, 'Pacifica', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: darkgreen;
}
.msg h2{
    color: cyan;
}
.msg p{
    color: aquamarine;
    font-size: 8em;
    padding-bottom: 15px;
}

.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
h2{
    margin: 0;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px;
}
main section img{
    box-sizing: border-box;
}