
::content{
    max-width: 100%;
    margin: 0 auto;;

}
header{
    display:grid;
    grid-template-columns: 150px auto;
    background-color: #FFD60A;

}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
} 
nav{
    width: 100%;
    display: flex;
    color: #FFD60A;
    justify-content: center;

}
nav a{
    text-align: center;
    color: #291F1E;
    text-decoration-line: underline;
    padding: 35px;
    justify-content: space-between;
    margin: 0 auto;
}
nav a:hover{
    color: #291F1E;
    background-color: rgb(255, 255, 255);
}

h2{
    color: #FFD60A;
    font-family: 'Noto Serif', serif, Helvetica, sans-serif;
    margin: auto;
    padding: 1%;
}
p{
    font-family: 'Montserrat', sans-serif;;
}
.picture{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 100px;

}
h1{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#msg{
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
}
#msg{
    background-color: #FFD60A;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #151613;


.plane{
    box-sizing: border-box;
    margin: 20px;
    padding: 0%;
    border: 0;
    max-width: 1600%;
    align-content: center;
    z-index: -1;

}






.MAFUWE{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 50px;

}


#welcome{
    width: 100%;
    text-align: center;
    margin: 100px;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 3em;
    color: #291F1E ;

}
.trip{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 10%;
    font-size: 2.5em;
    color: #291F1E ;
    

}
.vacancies{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    
}
.DEPARTURE{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
    font-size: 6em;
    text-align: center;
}
.ARRIVAL{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
    font-size: 6em;
    text-align: center;

}
.RESULTS{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 10;
    font-size: 6em;
    text-align: center;

}





footer{
    background-color: #FFD60A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    margin: auto;
    font-size: 70px;
    margin-top: 200px;
    

}
footer .pop{
    display: grid;
}
.pop{
    padding: 25px 50px;
}
footer .social img{
    padding-top: 10px;
    margin: 380px;
    padding: 25px 50px;
    
}






/*Do not add nothing from here*/

@media screen and (max-width: 900px) {
    #hero, .Mafuwe {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    
    #background {
        display: none;
    }
    
    footer {
        margin-top: 25px;
    }
}
        